In [1]:
import pandas as pd

In [5]:
%time data = pd.read_csv("D:/semster 6/DAMI/restaurant.csv", delimiter=",", index_col=0)

Wall time: 926 ms

In [6]:
data.sample(5)

,Order Name,Order Date,Quantity,Rating,Price,Total Price
Order ID,,,,,,
11382,Purple Drink,19/10/2018 19:11,7,"1,56","Rp15.022,00","Rp105.154,00"
11711,Purple Drink,06/01/2018 18:33,10,"2,37","Rp11.952,00","Rp119.520,00"
8833,Caramel Macchiato,13/06/2018 18:51,3,"4,80","Rp24.141,00","Rp72.423,00"
2350,Chicken Eggstra,01/03/2019 18:11,8,"1,21","Rp27.404,00","Rp219.232,00"
6977,Caramel Macchiato,26/07/2019 19:51,7,"3,66","Rp29.875,00","Rp209.125,00"

In [7]:
data.describe()

           Quantity
count  11001.000000
mean       5.504681
std        2.883811
min        1.000000
25%        3.000000
50%        6.000000
75%        8.000000
max       10.000000

In [8]:
total = data.isnull().sum().sort_values(ascending=False)

percent = (data.isnull().sum()/data.isnull().count()) \
.sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, \
                        keys=['Total', 'Missing Percent'])

missing_data['Missing Percent'] = \
missing_data['Missing Percent'].apply(lambda x: x*100)

missing_data.loc[missing_data['Missing Percent'] > 10] [:10]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [9]:
total

Total Price    0
Price          0
Rating         0
Quantity       0
Order Date     0
Order Name     0
dtype: int64

In [10]:
missing_data

             Total  Missing Percent
Total Price      0              0.0
Price            0              0.0
Rating           0              0.0
Quantity         0              0.0
Order Date       0              0.0
Order Name       0              0.0

In [11]:
missing_data.loc[missing_data['Missing Percent'] > 10] [:10]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [12]:
import pandas_profiling

In [13]:
data_resto = pd.read_csv('D:/semster 6/DAMI/restaurant.csv')
profile = data_resto.profile_report(title='Pandas Profiling Report')
profile.to_file(output_file="resto_pandas_profiling.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=21.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…