In [4]:
import pandas as pd

In [5]:
%time data = pd.read_csv("./restaurant.csv", delimiter=",", index_col=0)

Wall time: 563 ms

In [6]:
data.sample(5)

,Order Name,Order Date,Quantity,Rating,Price,Total Price
Order ID,,,,,,
3262,Avocado Juice,17/10/2018 17:44,10,"5,38","Rp33.257,00","Rp332.570,00"
3288,Avocado Juice,12/10/2018 17:21,4,"5,33","Rp12.263,00","Rp49.052,00"
6869,Avocado Juice,22/04/2016 18:00,3,"5,59","Rp10.699,00","Rp32.097,00"
3263,Royal Cake,17/10/2018 17:44,1,"5,70","Rp20.535,00","Rp20.535,00"
2147,Banana Split Frappuccino,30/03/2019 19:27,4,"4,93","Rp10.887,00","Rp43.548,00"

In [7]:
data.describe()

           Quantity
count  11001.000000
mean       5.504681
std        2.883811
min        1.000000
25%        3.000000
50%        6.000000
75%        8.000000
max       10.000000

In [8]:
total = data.isnull().sum().sort_values(ascending=False)

percent = (data.isnull().sum()/data.isnull().count()) \
.sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, \
                        keys=['Total', 'Missing Percent'])

missing_data['Missing Percent'] = \
missing_data['Missing Percent'].apply(lambda x: x*100)

missing_data.loc[missing_data['Missing Percent'] > 10] [:10]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [9]:
total

Total Price    0
Price          0
Rating         0
Quantity       0
Order Date     0
Order Name     0
dtype: int64

In [10]:
missing_data

             Total  Missing Percent
Total Price      0              0.0
Price            0              0.0
Rating           0              0.0
Quantity         0              0.0
Order Date       0              0.0
Order Name       0              0.0

In [11]:
missing_data.loc[missing_data['Missing Percent'] > 10] [:10]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [12]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'

In [14]:
data_resto = pd.read_csv('./restaurant.csv')
profile = data_resto.profile_report(title='Pandas Profiling Report')
profile.to_file(output_file="resto_pandas_profiling.html")

AttributeError: 'DataFrame' object has no attribute 'profile_report'